table {
  width: 75%;
  border-collapse: collapse;
  margin-top: 20px;
  margin: 0 auto;
}

td {
  padding: 10px;
  text-align: center;
}

img {
  border-radius: 15px; /* Rotunjirea colțurilor imaginilor */
  width: 150px; /* Poți ajusta dimensiunea după preferințe */
  height: auto;
}

button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button a {
  color: white;
  text-decoration: none;
}

button:hover {
  background-color: #45a049;
}
table tr:first-child {
  background-color: #88888898; /* Schimbă culoarea de fundal a primei linii */
  font-family: "Times New Roman", Times, serif; /* Schimbă fontul */
  font-weight: bold; /* Face textul bold */
  color: #000000; /* Schimbă culoarea textului */
}

/* Stil pentru titlul principal */
h1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: center; /* Aliniază textul în centru */
  margin-bottom: 20px; /* Adaugă spațiu sub titlu */
  color: #2c3e50; /* Schimbă culoarea textului */
}

/* Stil pentru butoane */
button {
  background-color: #3498db; /* Schimbă culoarea de fundal a butoanelor */
  color: rgb(0, 0, 0); /* Schimbă culoarea textului butoanelor */
  border: none; /* Elimină border-ul */
  padding: 10px 20px; /* Adaugă padding */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer; /* Schimbă cursorul când treci peste buton */
  border-radius: 12px; /* Face colțurile butonului rotunjite */
  transition: background-color 0.3s ease; /* Adaugă o tranziție la schimbarea culorii */
}

button:hover {
  background-color: #08a83e; /* Schimbă culoarea de fundal când treci peste buton */
}
